.nav{
    width: 200px;
    
    position: absolute;
    left: 50%;
    margin-left: 450px;
    top: 0px;
    
    box-shadow: 10px 10px 10px -10px black;
    transition: all .4s ease-in-out;
}
.fix-nav{
    position: fixed;
    top: 30px;
}
.nav a{
    text-decoration: none;
}
.nav-item{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #999;
    background: white;
    z-index: 10;
}
.nav-item:hover{
    animation: vibrate .2s ease-in-out 0s 1 normal backwards;
    -webkit-animation: vibrate .2s ease-in-out 0s 1 normal backwards;
    cursor: pointer;
    color: #088da5;
}
@keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}
@-webkit-keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}

.contacts{
    position: absolute;
    width:100%;
    bottom: 0;
    /*z-index: -1;*/
}
.contact-item{
    color: #999;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 8px;
    float: left;
    background: #fff;
    transition: transform .3s ease-in-out;
    text-align: center;
    line-height: 44px;
    box-shadow: 1px 1px 1px -1px black;
    cursor: pointer;
}
.contact-item:hover{
    color: #088da5;
}
.contact-item:first-child{
    margin-left: 0;
}

.contact-item:first-child.eject{
    transform: translateY(60px);
    transition-delay: 0;
}
.contact-item:nth-child(2).eject{
    transform: translateY(60px);
    transition-delay: 0.1s;
}
.contact-item:nth-child(3).eject{
    transform: translateY(60px);
    transition-delay: 0.2s;
}
.contact-item:nth-child(4).eject{
    transform: translateY(60px);
    transition-delay: 0.3s;
}
