.nav{
    width: 200px;
    
    position: absolute;
    left: 50%;
    margin-left: 450px;
    top: 0px;
    
    box-shadow: 10px 10px 10px -10px black;
    transition: all .4s ease-in-out;
}
.fix-nav{
    position: fixed;
    top: 30px;
}
.nav a{
    text-decoration: none;
}
.nav-item{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #999;
    background: white;
}
.nav-item:hover{
    animation: vibrate .3s linear 0s 1 normal backwards;
    -webkit-animation: vibrate .3s linear 0s 1 normal backwards;
    cursor: pointer;
    color: #088da5;
}
@keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}
@-webkit-keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}

