.nav{
    width: 200px;
    
    position: absolute;
    left: 50%;
    margin-left: 450px;
    top: 0px;
    
    box-shadow: 10px 10px 10px -10px black;
    transition: all .4s ease-in-out;
}
.fix-nav{
    position: fixed;
    top: 30px;
}
.nav a{
    text-decoration: none;
}
.nav-item{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #999;
    background: white;
    z-index: 10;
}

.alt-nav-item{
    z-index: 11;
}
.nav-item:hover{
    animation: vibrate .2s ease-in-out 0s 1 normal backwards;
    -webkit-animation: vibrate .2s ease-in-out 0s 1 normal backwards;
    cursor: pointer;
    color: #088da5;
}
@keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}
@-webkit-keyframes vibrate{
    0%{ left: 5px; }
    25%{ left: -5px; }
    50%{ left: 5px; }
    75%{ left: -5px; }
    100%{ left: 0px; }
}

.contacts {
    position: absolute;
    width:100%;
    bottom: 0;
    /*z-index: -1;*/
}
.alt-contacts{
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -400px;
    z-index: -1;
}
.contact-item, .alt-contact-item{
    display: block;
    color: #999;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 8px;
    float: left;
    background: #fff;
    transition: all .3s ease-in-out;
    text-align: center;
    line-height: 44px;
    box-shadow: 1px 1px 1px -1px black;
    cursor: pointer;
    opacity: 0;
    /*overflow: hidden;*/
    /*position: relative;*/
}
.contact-item:hover, .alt-contact-item:hover{
    color: #088da5;
}
.contact-item:first-child, .alt-contact-item:first-child{
    margin-left: 0;
}
/*.contact-item div{
    height: 100%;
    width: 100%;
    line-height: inherit;
    color: inherit;
}*/

.contact-item:first-child.eject, .alt-contact-item:first-child.eject{
    transform: translateY(60px);
    transition-delay: 0;
    opacity: 1;
}
.contact-item:nth-child(2).eject, .alt-contact-item:nth-child(2).eject{
    transform: translateY(60px);
    transition-delay: 0.1s;
    opacity: 1;
}
.contact-item:nth-child(3).eject, .alt-contact-item:nth-child(3).eject{
    transform: translateY(60px);
    transition-delay: 0.2s;
    opacity: 1;
}
.contact-item:nth-child(4).eject, .alt-contact-item:nth-child(4).eject{
    transform: translateY(60px);
    transition-delay: 0.3s;
    opacity: 1;
}

.drop-down{
    display: table;
    background: #000;
    opacity: 0;
    font-size: 14px;
    height: 20px;
    width: 135px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 13px;
    transition: opacity 0.2s linear;
    display: none;
}
.drop-down::after{
    content: '';
    display: block;
    background: transparent;
    
    height: 0;
    width: 0;
    border-bottom: 10px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: 16px;
}
.contact-item:hover .drop-down{
    opacity: .7;
    display: block;
}



/*for alternative nav when screen is narrower than 800px*/
.alt-nav{
    display: none;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #000;
    display: none;
    opacity: .7;
    text-align: center;

}
.alt-nav-wrap{
    width: 800px;
    margin: 0 auto;
}
.alt-nav-item{
    width: 200px;
    line-height: 40px;
    height: 40px;
    float: left;
    text-align: center;
    opacity: 1;
    transition: all .3s linear;
    color: white;
    cursor: pointer;
    background-color: #000;
    
}
.alt-nav-item:hover{
    opacity: .7;

}
.alt-contact-item:hover .drop-down{
    opacity: .7;
    display: block;
}
@media screen and (max-width: 1200px){
    .alt-nav{
        display: block;
    }
}
@media screen and (max-width: 800px){
    .alt-nav{
        width:800px; 
    }
}
