html,body{
    margin: 0px;
    /*background-image: url('./background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Architects Daughter', cursive;
}
body{
    position: relative;
    
    overflow-x: hidden;
}
.background{
    width: 100%;
    /*height: 100%; */
    /*height 100% of viewport, after scrolling it is changed to right size*/
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url('./background.jpg');
    background-repeat: repeat;
}
a{
    text-decoration: none;
    color : inherit;
}

.header{
    width: 100%;
    height: 560px;
    background: #088da5;
    opacity: .7;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 800px){
    body{
        width: 800px;
        overflow-x: auto;
    }
    .header, .header-bottom{
        width: 800px;
    }
    .nav{
        display: none;
    }
}
.header-bottom{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 150px;
}
.header-bottom svg{
    /*position: absolute;*/
}
.header-bottom path{
    transition: all .6s ease-in-out;
    opacity: 0.7;
}
.arrow-down{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(.7,.7);
    transform-origin: 50% 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.arrow-down:hover{
    opacity: 1;
}

/*title content*/
.title-anim{
    width: 800px;
    height: 150px;
    border: 1px solid red;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top:50%;
    margin-top: -75px;
    /*for enlarge the tiny bodymovin animation*/
    transform: scale(4,4);
    transition: opacity .3s ease-in-out;
    
}



/*content*/
.content{
    width:100%;
    position: relative;
}
.content-block{
    position: relative;
    width: 800px;
    min-height: 300px;
    border-radius: 5px;
    background: white;
    margin: 100px auto;
    box-shadow: 10px 10px 10px -10px black;
    transition: transform .6s ease-in-out, opacity 1.2s ease-in-out;
    opacity: 0;
}
.content-block:hover{
    transform: translateY(-4px);
}
.fade-in{
    opacity: 1;
}

.content-title{
    width: 90%;
    height: 70px;
    margin: auto;
    border-bottom: 6px solid transparent;
    font-size: 30px;
    line-height: 70px;

    border-image: url('./border-bottom.png') stretch;
    border-image-slice: 100% 0;
}


/*about me*/
.intro-wrap{
    padding: 48px;
}
.avatar{
    height: 200px;
    width: 200px;
    float: right;
    margin: 10px;
    border-radius: 50%;
    border: 4px #088da5 solid;
    overflow: hidden;
}
.avatar img{
    height: 100%;
    width: 100%;
}
.intro{
    font-size: 24px; 
    line-height: 48px;
}


/*apps block*/
.apps-wrap{
    padding-bottom: 40px;  
}
.app::after{
    content: '';
    height: 0;
    display: table;
    clear: both;
}
.app-left, .app-right{
    height: 100%;
    float: left;
}
.app-left{
    width: 65%;
    padding-top: 10px;
}
.app-left .app-name{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}
.app-left .app-features{
    padding-left: 40px;
    font-size: 16px;
    line-height: 32px;
}
.app-right{
    width: 35%;
    position: relative;
    padding-top: 62px;
}
.app-right .app-carousel{
    width: 100%;
    height: 220px;
    /*padding: 10px;*/
    box-sizing: border-box;
    /*border: 1px red solid;*/
}

#content3{
    /*position: relative; already set in .content-block*/
}
#canvas{
    background-image: url('./canvasBottom.jpg');
    background-size: cover;
    cursor: url('knife.png'), auto;
}

/*footer*/
footer{
    /*position: absolute;
    bottom: 0;*/
    position: relative;
    width: 100%;
    background: #000;
    opacity: .5;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
footer i{
    font-size: 24px;
    color: white;
}

.gotop{
    position: fixed;
    bottom: 50px;
    font-size: 48px;
    color: #088da5;
    font-weight: bold;
    left: 50%;
    margin-left: -500px;
    transition: opacity .3s linear;
    opacity: 0;
}
.showup{
    opacity: 1;
}